  html {
    margin:0;
    padding:0;
    height:100%;
  }
  
  /* Specific to Tape Maker */
  
  body {
    /*background-color: #1f475a;*/
    background-color: #3a3a3a;
    background-repeat: repeat-x;
    margin:0;
    padding:0;
    height:100%;
  }
  
  /* formatting for settings */
  
  .padded10 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .splitSection {
    width: 975px;
    padding: 5px;
    margin: 20px 5px 5px 5px;
    min-height: 400px;
  }
  
  /* formatting for table */
  
  #fileListSection th:first-of-type + th {
    text-align: left;
  }
  
  #fileListSection td:first-of-type + td, #fileListSection th:first-of-type + th {
    min-width: 400px;
  }
  
  #fileListSection td:first-of-type {
    min-width: 20px;
    max-width: 20px;
  }
  
  #fileListSection td:first-of-type + td + td {
    min-width: 50px;
    text-align: right;
  }
  
  #fileListSection td:first-of-type + td + td + td {
    min-width: 50px;
    text-align: right;
  }
  
  #resultSideA {
    max-width: 455px;
    float: left;
    min-height: 250px;
  }
  
  #resultSideB {
    max-width: 455px;
    float: right;
    min-height: 250px;
  }

  .trackListingTable td:first-of-type, .trackListingTable th:first-of-type {
    min-width: 40px;
    max-width: 40px;
  }
  
  .trackListingTable th:first-of-type + th {
    text-align: left;
  }
  
  .trackListingTable td:first-of-type + td, .trackListingTable th:first-of-type + th {
    min-width: 340px;
    max-width: 340px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .trackListingTable td:first-of-type + td + td {
    min-width: 50px;
    text-align: right;
  }
  
  /*
  .trackListingTable img:first-of-type, .trackListingTable img:last-of-type {
    opacity: 0;
  }
  */
  
  .upArrow {
    
  }
  
  .downArrow {
    
  }
  
  #optimize {
    margin: 20px;
    padding: 5px 20px;
    color: blue;
  }
  
  
  .xButton {
    font-weight: bold;
    color: red;
    font-size: 11px;
    width: 23px;
  }
  
  .playButton {
    font-weight: bold;
    color: green;
    font-size: 11px;
  }
  
  .tapelogo {
    image-rendering: pixelated;
    position: absolute;
    top: 62px;
    margin-left: 845px;
  }
  
  .timer {
    position: relative;
    bottom: 5px;
    left: 15px;
  }
  
  .tapeControls {
    float: right;
    margin-right: 50px;
    margin-top: 5px;
  }
  
  #tapeSizeBar {
    
  }
  
  #tapeFilledBar {
    
  }
  
  .progressBar {
    height: 15px;
    width: 300px;
    padding: 2px;
    background-color: #ffffff;
    border: 2px solid black;
    float: left;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .filledBar {
    height: 15px;
    width: 0px;
    background-color: #f2166a;
  }
  
  .barPosition {
    width: 2px;
    height: 22px;
    background-color: black;
    float: left;
    margin-top: -6px;
  }
  
  /* Junk from previous projects */
  
  @media (pointer:none), (pointer:coarse) {
    .forceLeft {
      display: none;
    }
    
    .titles {
      margin: 0 auto;
      width: 90%;
    }
    
    .centerimg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 98%;
    }
    
    .wrapper {
      min-width: 1273px;
    }
    
    .wplist ul {
      width: initial !important;
    }
  }
  
  /*
  @media (pointer:fine) and (max-width: 1557px) {
    .titles {
      padding-left: 272px;
    }
    
    .section {
      margin: 20px 5px 5px 5px !important;
    }
  }
  
  
  @media (pointer:fine) and (max-width: 1920px) {
    .forceLeft {
      opacity: 65%;
    }
    
    .titles {
      padding-left: 272px;
    }
    
    .section {
      margin: 20px 5px 5px 5px !important;
    }
  }*/
  
  .forceLeft {
    opacity: 65%;
  }
  
  .titles {
    padding-left: 272px;
  }
  
  .section {
    margin: 20px 5px 5px 5px !important;
  }
  
  .titles {
    /*padding: 0px 205px;*/
  }
  
  .section.wp {
    /*width: 601px;*/
    /*margin-left: 380px;*/
  }
  
  .wp a:link {
    color: #3000cd;
  }
  
  .wp a:visited {
    color: #3000cd;
  }
  
  .colorpicker {
    width: 75px;
    height: 25px;
    margin-top: 5px;
  }
  
  .bannertext {
    padding-top: 30px;
    text-align: center;
    height: 80px;
  }
  
  .bannerdesc {
    text-align: center;
    color: #16161d;
  }
  
  .wptitle {
    font-size: 200%;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
  }
  
  .wpdesc {
    width: 95%;
    font-size: 100%;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: monospace;
  }
  
  .wplist {
    font-size: 150%;
    font-family: monospace;
    font-weight: bold;
    margin: 0 auto;
  }
  
  .wplist a:link {
    color: #3888d0;
    text-decoration: none;
  }
  
  .wplist a:hover {
    color: #FFDD00;
    text-decoration: none;
  }
  /*
  .wplist img:hover {
    box-shadow: 0 0 1500px #305cd0;
  }
  */
  .wplist li {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  .wplist ul {
    padding-left: 0;
    list-style-type: none;
    width: 1400px;
    margin: 0 auto;
  }
  
  .wpimg {
    padding-left: 25px;
  }
  
  .centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  
  .wplabel {
    width: 23%;
    background-color: grey;
    margin-bottom: 5px;
    padding-left: 4px;
  }
  
  select[disabled] {
    pointer-events: none;
  }
  
  .content {
    padding-bottom: 100px;
    padding-top: 30px;
    /* padding-left: 5px; */
  }
  
  .footer {
	  height: 85px;
	  position: absolute;
	  bottom: 0px;
	  left: 0px;
    font-family: monospace;
    width: 100%;
    min-width: 1273px;
    margin-top: 61px;
    background: linear-gradient(#7d7d7d, #444444);
  }
  
  .footer > div {
    width: 975px;
    margin-left: 270px;
  }
  
  .footer > div > .dcopelogo {
    position: absolute;
    left: 1170px;
    top: 29px;
  }
  
  .footer div div:first-of-type {
    font-weight: bold;
    margin-bottom: 3px;
    padding-left: 3px;
  }
  
  .footer div div:first-of-type +div {
    font-weight: bold;
    font-size: 85%;
    margin-bottom: 3px;
    padding-left: 15px;
    font-family: monospace;
  }
  
  .footer div div:first-of-type +div + div {
    font-weight: bold;
    font-size: 90%;
    padding-left: 40px;
  }
  
  .wrapper {
	  min-height:100%;
	  position:relative;
  }
  
  .mask > div {
    z-index: 5;
    position: absolute;
    background: black;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .mask .masktop {
    top: 0;
    /*bottom: 0;*/
    left: 0;
    right: 0;
  }
  
  .mask .maskleft {
    top: 0;
    bottom: 0;
    left: 0;
    /*right: 0;*/
  }
  
  .mask .maskright {
    top: 0;
    bottom: 0;
    /*left: 0;*/
    right: 0;
  }
  
  .mask .maskbottom {
    /*top: 0;*/
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  #loadingBox {
    z-index: 5;
    position: absolute;
    background: black;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .mouseOverHighlight {
    color: blue;
    background-color: #92ffe4;
  }
  
  .mouseOverHighlight.red {
    color: red;
    background-color: #fff058;
  }
  
  .hl, .hl > td {
    z-index: 6;
    position: relative;
    background-color: inherit;
    /*box-shadow: 0px 0px 110px 35px #3a3a3a;*/
  }
  
  .overlay {
    z-index: 5;
    position: fixed;
    background: black;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .popup {
    z-index: 7;
    position: fixed;
    background: white;
    opacity: 0.9;
    top: 199px;
    right: 15px;
    width: 595px;
    /*height: 400px;*/
    border-radius: 3px;
  }
  
  .helpTitle {
    font-weight: bold;
    font-size: 150%;
    padding: 20px;
    color: #1f475a;
  }
  
  .helpContent {
    /*font-weight: bold;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #1f475a;
  }
  
  .blockTypePopup {
    z-index: 7;
    position: fixed;
    background: white;
    opacity: 0.9;
    top: 210px;
    left: 500px;
    width: 595px;
    height: 315px;
    border-radius: 3px;
    text-align: center;
    border-color: #FFCC00;
    border-style: solid;
    border-width: 4px;
  }
  
  .deletePopup {
    z-index: 7;
    position: fixed;
    background: white;
    opacity: 0.9;
    top: 210px;
    left: 500px;
    width: 595px;
    height: 250px;
    border-radius: 3px;
    text-align: center;
    border-color: red;
    border-style: solid;
    border-width: 4px;
  }
  
  .deleteTitle {
    font-weight: bold;
    font-size: 150%;
    padding: 20px;
    color: black;
  }
  
  .deleteContent {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    color: black;
  }
  
  .confirmDelete {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .actualDeleteButton {
    color: red;
    font-size: 150%;
    width: 60%;
    border-color: red;
  }
  
  .cancelDeleteButton {
    color: blue;
    font-size: 150%;
    width: 60%;
    border-color: blue;
  }
  
  .helpX {
    position: absolute;
    top: 0px;
    right: 4px;
    font-weight: bold;
    font-size: 150%;
    color: black;
  }
  
  #stage1 {
    background-color: inherit;
  }

  .section {
    padding: 5px;
    margin: 5px;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #000000;
   /* background-color: #e9fdff;*/
    background-color: #cecece;
    width: 975px;
    font-family: sans-serif;
    box-shadow: 2px 3px 11px -3px #000000;
   /* margin-left: calc(50% - 500px);
    margin-left: 281px;*/
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .section:first-of-type {
    margin-top: 24px;
  }

  .data_table td:first-of-type {
    padding: 3px;
    text-align: center;
    width: 50px;
  }

  .data_table td:first-of-type + td {
    padding: 3px;
    text-align: right;
    width: 201px;
  }

  .data_table td:first-of-type + td + td {
    padding: 3px;
    text-align: center;
    width: 150px;
  }

  .data_table td:first-of-type + td + td + td, .data_table td:first-of-type + td + td + td + td {
    padding: 3px;
    width: 151px;
    font-size: 90%;
    cursor: default;
    color: grey;
    text-align: left;
  }

  .table_labels {
    font-weight: bold;
    padding: 1px 10px;
    cursor: default;
  }

  .inputbox {
    width: 150px;
  }

  .inputbox[type=checkbox] {
    width: 50px;
  }

  #result {
    font-size: 120%;
    min-height: 23px;
  }

  table {
    border-collapse: collapse;
    /*background-color: #b9f9ff;*/
  }

  table, th, tr, td {
    /*
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    */
  }
  
  td:first-of-type {
    width: 150px;
  }
  
  td:first-of-type > div{
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  td:first-of-type + td + td{
    min-width: 132px;
  }
  
  td:first-of-type + td input[type="text"], input.multiselect{
    width: 66px;
    /*width: 104px;*/
  }
  
  .helpboxdata {
    position: absolute;
    min-width: 350px;
    min-height: 200px;
    /*margin-left: 60px;*/
    background-color: #fdfdfd;
    text-align: left;
    border: 1px solid #7A9CD3;
    left: -386px;
    opacity: 0.95;
    top: 76px;
    z-index: 2;
  }
  
  .multiselectdata {
    position: absolute;
    min-width: 68px;
    margin-left: 42px;
    background-color: #fdfdfd;
    text-align: left;
    border: 1px solid #7A9CD3;
  }
  
  .propertyset .multiselectdata {
    margin-left: 59px;
  }
  
  .blocktable {
    min-width: 606px;
  }
  
  .blocktable td.multiselectdata {
    width: 147px;
    background-color: #fdfdfd;
    text-align: left;
  }
  
  .blocktable .multiselectdata .multiselectOption {
    width: 100%;
    text-align: left;
    font-weight: initial;
    color: black;
    font-size: 100%;
    height: initial;
    line-height: initial;
    cursor: default;
  }
  
  .blocktable .multiselectdata .multiselectOption {
    height: 15px;
    font: 13.3333px Arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .blocktable .multiselectdata .multiselectOption.selected {
    color: white;
    background-color: #328EFE;
  }
  
  .blocktable .multiselectdata .multiselectOption:hover {
    color: white;
    background-color: #227EFE;
  }
  
  .checkboxbutton, .resultsetbutton {
    /*color: #8f8f8f;*/
    color: #5f5f5f;
    font-size: 90%;
    height: 21px;
    line-height: 1px;
    padding: 0px 6px;
  }
  
  button {
    font-weight: bold;
    font-size: 130%;
  }

  .selected {
    color: blue;
    border-color: blue;
  }

  .invalidproduct > td {
    background-color: #e0e0e0;
    color: #c0c0c0;
  }

  .invalidproduct > td > button.selected {
    color: #8f8f8f;
    border-color: grey;
  }
  
  button.invalidproduct{
    color: #8f8f8f;
    border-color: grey;
  }

  #copy, #generate {
    /*margin: 0 auto;*/
    margin-top: 10px;
    margin-left: 5px;
    width: 285px;
    display: block;
  }
  
  #copy {
    color: #0041FF;
  }

  .signed {
    width: 127px;
    float: right;
  }

  .sign {
    font-weight: bold;
    text-align: center;
    float: left;
    padding-top: 2px;
    width: 17px;
    height: 17px;
    color: blue;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .red {
    color: red;
  }
  
  .orange {
    color: orange;
  }
  
  .green {
    color: green;
  }
  
  .blue {
    color: blue;
  }

  .grey {
    color: grey;
  }

  .small {
    font-size: 85%;
  }
  
  .medium{
    font-size: 165%;
  }
  
  .large{
    font-size: 200%;
  }
  
  .giant{
    font-size: 400%;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .major {
    background-color: #FFFFFF;
    font-weight: bold;
  }

  .unselectable, button, .darkrow {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }

  ul {
    padding-left: 30px;
    margin-bottom: 20px;
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .deleteButton {
    width: 70px;
    font-size: 80%;
    margin-right: 4px;
  }
  
  .deleteButton:hover {
    color: red;
  }
  
  .removeButton {
    float: right;
    margin-top: 25px;
    padding: 2px;
  }
  
  .appendButton:hover, .firstBlockButton:hover {
    color: #41CA4F;
  }
  
  .buttonlabel {
    width: 50px;
    padding-left: 1.3px;
    padding-right: 4px;
    display: inline-block;
  }
  
  .appendButton {
    /*margin: 0 auto;*/
    /*margin: 0px 25px;*/
    /*margin-top: 16px;*/
    width: 145px;
    font-size: 80%;
    display: inline-block;
    margin-right: 4px;
  }
  
  .firstBlockButton {
    width: 145px;
    font-size: 80%;
    display: inline-block;
    margin-right: 4px;
  }
  
  .newchunk {
    padding: 2px;
    width: 173px;
    margin: 0px 25px;
    margin-top: 6px;
    background-color: inherit;
  }
  
  .logicblock {
    padding-top: 8px;
    margin-bottom: 12px;
    background-color: inherit;
  }
  
  .headerButtons {
    padding-bottom: 12px;
    background-color: inherit;
    /*width: 158px;*/
  }
  
  .addButton {
    /*background-color: inherit;*/
    padding-top: 1px;
    background-color: #e9fdff;
    margin-top: 6px;
  }
  
  .resultsection {
    margin-bottom: 100px;
  }
  
  .copysection {
    width: 100%;
    height: 30px;
    padding-bottom: 12px;
  }
  
  .disabled {
    color: #D8D8D8;
  }
  
  .colorbox {
    width: 40px;
  }
  
  .save input {
    width: 116px;
  }
  
  input.blockname, input.groupname {
    width: 188px;
  }
  
  .blockname, .groupname, .blockmenu {
    /*float: right;*/
    /*margin-right: 295px;*/
  }
  
  .blockheaderspan {
    float: right;
    margin-right: 275px;
  }
  
  .blockheader {
    min-width: 603px;
    background-color: #8cbcd2;
    font-weight: bold;
    padding-left: 2px;
  }
  
  .show, .hide {
    margin: 0 auto;
    font-weight: bold;
    color: blue;
  }
  
  .preinstructions {
    width: 670px;
    margin: auto;
    /*font-family: monospace;*/
    font-size: 120%;
    margin-top: 10px;
  }
  
  .instructions {
    font-size: 120%;
    position: absolute;
    top: 137px;
    left: 724px;
  }
  
  .instructions > div{
    font-weight: bold;
    margin: 10px auto;
    font-size: 125%;
  }
  
  .mono {
    font-family: monospace;
  }
  
  select {
    height: 21px;
  }
  
  .chunkpreview {
    height: 15px;
    /*padding: 2px;*/
    font-weight: bold;
    font-size: 70%;
    color: #FFFFFF;
    background-color: #8cbcd2;
    /*padding-left: 6px;*/
  }
  
  .logic {
    max-width: 602px;
    /*background-color: inherit;*/
    background-color: #8cbcd2;
    padding: 2px;
    font-weight: bold;
  }
  
  .blockoptions {
    /*margin-top: 2px;*/
    /*margin-bottom: 2px;*/
    max-width: 602px;
    /*background-color: inherit;*/
    background-color: #8cbcd2;
    padding: 2px;
    font-weight: bold;
  }
  
  .fieldvalue select {
    width: 70px;
  }
  
  .darkrow {
    background: #8cbcd2;
  }
  
  .hideshow {
    float: right;
    text-align: right;
    font-size: 80%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  
  .hideshow:hover {
    color: blue;
  }
  
  .save {
    float: right;
  }
  
  .help0 {
    margin-bottom: 20px;
  }
  
  .sidebyside {
    height: 146px;
  }
  
  .loadsection {
    float: right;
    height: 100%;
    width: 250px;
    margin-top: 5px;
    margin-right: 5px;
  }
  
  #load {
    width: 246px;
  }
  
  .load {
    margin-top: 7px;
  }
  
  .load button {
    /*float: right;
    margin-right: 35px;*/
    margin-left: 10px;
  }
  
  .orsection {
    float: left;
    margin-top: 45px;
    margin-left: 160px;
  }
  
  .new {
    position: relative;
    height: 58px;
  }
  
  .new button {
    float: left;
    position: absolute;
    bottom: 0;
    left: 35px;
  }
  
  .newsection {
    float: left;
    height: 100%;
    width: 280px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .sectiontitle {
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .propertyset textarea {
    margin-bottom: -6px;
    min-width: 386px;
    min-height: 121px;
    position: absolute;
    top: 0px;
    max-width: 386px;
    max-height: 121px;
  }
  
  .propertyset textarea:focus {
    max-width: none;
    max-height: none;
  }
  
  .textareaparent {
    height: 125px;
    position: relative;
  }
  
  label.inlineblock {
    width: 37px;
    text-align: center;
    color: blue;
  }
  
  .inlineblock {
    display: inline-block;
  }
  
  .inlineblock .multiselectdata{
    margin-left: 0px;
  }
  
  .transfer {
    margin-right: 20px;
  }
  
  .transfer button {
    width: 52px;
  }
  
  label.tolabel {
    margin: 0px 3px;
    text-align: center;
  }
  
  .logic .logicButtonSmall button {
    width: 40px;
  }
  
  .logic .logicButtonLarge button {
    width: 82px;
  }
  
  .thisGridButton, .allowMissingBlocks {
    width: 221px;
  }
  
  .thisGridName {
    width: 91px;
    margin-left: 5px;
  }
  
  .settings {
    height: 400px;
    background-color: inherit;
  }
  
  .settings div {
    float: right;
    margin-top: 5px;
    width: 100%;
  }
  
  .settings > div:first-of-type {
    float: inherit;
  }
  
  .settingslabel {
    float: left;
  }
  
  .forceLeft {
    position: fixed;
    top: 4px;
    margin: 0;
    width: 250px;
  }
  
  .forceLeft .section{
    width: 250px;
    margin: 20px 0 0 0 !important;
  }
  
  .pseudocode div{
    font-weight: bold;
    font-size: 60%;
  }
  
  .pseudocode div:first-of-type {
    font-size: 100%;
  }
  
  .infolink:after {
    content: '?';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 1.4ex;
    line-height: 1.9ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    margin-left: 4px;
    padding: 1px;
    color: blue;
    background: white;
    border: 1px solid blue;
    text-decoration: none;
  }

  .infolink:hover:before {
    color: white;
    background: blue;
    border-color: white;
    text-decoration: none;
  }
  
  .errors {
    position: relative;
    color: #f74343;
    left: 1000px;
    height: 0px;
    width: 0px;
    white-space: nowrap;
  }
  
  .errorsection {
    color: red;
    margin-left: 15px;
    margin-top: 5px;
  }
  
  .version {
    color: #4064b3;
    position: absolute;
    top: 139px;
    left: 1161px;
    white-space: nowrap;
  }
  
  .precision {
    width: 45px;
    margin-right: 4px;
  }
  
  .precisionspan {
    float: right;
    margin-right: 2px;
  }
  
  .section.topbanner {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  
  .banner {
    margin-left: -6px;
    margin-top: -6px;
    height: 148px;
  }
  
  .dcopelogo {
    position: absolute;
    top: 42px;
    margin-left: 14px;
  }

  /* unvisited link */
  a:link {
    color: #4064b3;
  }

  /* visited link */
  a:visited {
    color: #4064b3;
  }

  /* mouse over link */
  a:hover {
    color: #4064b3;
  }

  /* selected link */
  a:active {
    color: #4064b3;
  }
  
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
  
  .footer a:link {
    color: #0006ff;
  }

  /* visited link */
  .footer a:visited {
    color: #0006ff;
  }

  /* mouse over link */
  .footer a:hover {
    color: #FFDD00;
  }

  /* selected link */
  .footer a:active {
    color: #FFDD00;
  }
